/* PC */
@media screen and (min-width: 992px) {
    .show-mobile {
        display: none;
    }

    .caption__svg-icon {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-40%);
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-mobile {
        display: none;
    }

    .size-20-mobile {
        font-size: 2rem;
    }

    .header__background {
        position: absolute;
        background-image: url(/assets/img/background/header_bg_mobile.png);
        background-position: 50% 50%;
        z-index: -1;
    }
    .header__des {
        font-size: 1.2rem;
    }

    .header__submit-text {
        font-size: 3.6rem;
        max-width: calc(100% - 28px);
    }

    .header__form-label {
        flex-direction: column;
        align-items: start;
    }

    /* Info days */
    .info-days {
        flex-direction: column;
        background: url(/assets/img/background/bg_02.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    .info-day__dl {
        font-size: 4rem;
        color: orange;
    }

    .info-day__label {
        font-size: 1.6rem;
    }

    /* Caption */
    .caption__heading {
        font-size: 10rem;
    }

    .caption__names {
        top: 20%;
        gap: 0px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .caption__name-item {
        font-size: 5rem;
    }

    .caption__svg-icon {
        width: 300px;
        height: 300px;
        align-items: center;
        text-align: center;

        padding: 10px;
        margin-top: 40px;
        border-radius: 50%;
    }
}
